# Sysbox unit to act as a wrapper of sysbox's inner components/daemons:
# sysbox-mgr and sysbox-fs.

[Unit]
Description=Sysbox container runtime
Documentation=https://github.com/nestybox/sysbox
# rahul: using BindsTo + PartOf prevents the services that are bound
# from restarting on failure. For example, if sysbox-mgr.service is
# killed, sysbox.service will stop because of the 'BindsTo' constraint.
# However, because sysbox-mgr.service is 'PartOf' sysbox.service,
# sysbox-mgr.service will not restart until sysbox.service has started
# BindsTo=sysbox-mgr.service sysbox-fs.service
After=sysbox-mgr.service sysbox-fs.service

# Must start before Docker/containerd to ensure "docker --restart" works
# properly with Sysbox.
Before=docker.service containerd.service

[Service]
Type=exec
ExecStart=/bin/sh -c "/usr/bin/sysbox-runc --version && /usr/bin/sysbox-mgr --version && /usr/bin/sysbox-fs --version && /bin/sleep infinity"
Restart=always

[Install]
# Components of this application should be started at boot time
WantedBy=multi-user.target
